body,
html {
  width: 100%;
  height: 100%;
  font-family: "ariel", sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: azure;
}

.buffer {
  height: 10rem;
}

hr {
  margin: 20px auto;
  color: #f05f44;
  border: 3px solid #f05f44;
  max-width: 65px;
  opacity: 1;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #f05f44;
  border-color: rgb(174, 49, 147);
}

.btn-primary:hover {
  background-color: #843628;
  border-color: mediumspringgreen;
  border-width: thick;
}

.btn:active {
  background-color: yellow;
}

.btn-xl {
  padding: 1rem 2rem;
}
